<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <script th:src="@{/viewCount.js}"></script>
</head>
<body>
<li>
    <a href="index.html"><strong>主页</strong></a>
</li>
<div class="panel panel-primary">
    <div class="panel-heading" th:text="'足控文, ' + ${articleDetails.title}"></div>
</div>
<p class="lead" th:text="${articleDetails.articleText}"></p>


</body>

</html>