<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap-table.css}" rel="stylesheet" />
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap-table.js}"></script>
    <script th:src="@{/bootstrap-table-zh-CN.js}"></script>

</head>
<body>
<li>
    <a href="index.html"><strong>主页</strong></a>
</li>
<div class="input-group col-md-3" style="margin-top:0px positon:relative">
    <input id="queryParam" type="text" class="form-control" placeholder="请输入字段名" />
            <span class="input-group-btn">
               <button class="btn btn-info btn-search" id="esQuery">查找</button>
            </span>
</div>
<table class="table">
    <thead>
    <tr>
        <th>喜欢就收藏吧</th>
    </tr>
    </thead>
    <tr th:each="article : ${articleInfos}">
        <td th:text="${article.title}"></td>
        <td>
            <a th:href="@{/article/details(articleId=${article.id})}">阅读</a>
        </td>
    </tr>

</table>

<script>

    function queryParams(params) {
        var param = {
            pageNumber : 1,
        }
        return param;
    }
    function edit(articleId) {
        location.href = "/article/details?articleId=" + articleId;
    }

    $('#esQuery').on("click",function(){
        location.href = "/esArticleInfoQuery?queryParam=" + $('#queryParam').val();
    })
</script>

</body>
</html>
